<h1>Products</h1>
<div class="body-content">
    <div class="row">
        <div class=" col-md-6" >
            @Html.Partial("Web")
        </div>
        <div class="col-md-6">
            @Html.Partial("Computers")
        </div>
    
    </div>
</div>
