
@{
    ViewBag.Title = "Team";
}

<h2>The Team</h2>
    @ViewBag.Message <br />
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Pictures/Computer.png" alt="Nardus Snyman" width="200" height="200"/>
        </div>
        <div class="col-md-8">
            <h3>
                Nardus Snyman
            </h3>
            <p>
                @ViewBag.NardusMessage
            </p>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Pictures/Coetzee_Beukes.jpg"alt="Coetzee Beukes" width="200" height="200" />
    </div>
    <div class="col-md-8">
        <h3>
            Coetzee Beukes
        </h3>
        <p>
            @ViewBag.CoetzeeMessage
        </p>
    </div>
</div>

