<div>
    <div class="row">
        <h1>This is the contact page for Wedoco</h1>
        <div class="col-lg-12">
           <p>"Wedoco was founded in June 2017 and our goal was clear to change the way companies receive web solutions and support</p><br />
            <p>We are all about leading web solutions and support for our clients that certifies product satisfaction.
                Wedoco offers a comprehensive one-stop solution that is affordable and optimized for small and big businesses to meet all their website requirements.</p><br />
            <p>Wedoco's development team visits our clients and consults them directly to achieve the highest understanding of the owner's goals and needs.</p><br />
            <p>Wedoco's design and development team then develops the web solution in-house for our client and shows the owner the progress as it is completed.
            In less than no time, our clients have fully interactive websites with there own domains, amazing layouts, and animations.</p><br />
            <p>Wedoco's design and development team then develops the web solution in-house for our client and shows the owner the progress as it is completed.
            In less than no time, our clients have fully interactive websites with there own domains, amazing layouts, and animations.</p><br />
            <p>See our <a href="~/Products/Products">products and services</a> section for more information or contact us and will get back to you."</p>
        </div>
    </div>
</div>



