
<h3>Address:</h3>
<address>
    Iewers in pietersburg<br />
    Pietwersburg ,0000<br />

    Phone : 000000000
</address>

<address>
    <strong>info:</strong>   <a href="mailto:info@wedoco.co.za">info@wedoco.co.za</a><br />
    <strong>Nardus:</strong> <a href="mailto:nardussnyman@wedoco.co.za">nardussnyman@wedoco.co.za</a><br />
    <strong>Coetzee:</strong> <a href="mailto:coetzeebeukes@wedoco.co.za">coetzeebeukes@wedoco.co.za</a>
</address>
